<!DOCTYPE html>
<html>
<head>
    <title>Daikatana Updater SQL Query</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @model ASPNET_MVC_Web.Models.ListViewModel
    @using ASPNET_MVC_Web.Models
    @{
        ViewBag.Title = "Daikatana Updater SQL Query";
        Layout = null;
    }
    @if (!String.IsNullOrEmpty(Model.Message))
    {
        <p><b>@Model.Message</b></p>
    }
    else
    {
        <div>
            <table border="1">
                <thead>
                    <tr>
                        @if (Model.ListType == eListType.PAKFiles || Model.ListType == eListType.PAKFilesWithBeta)
                        {
                            <th>Type</th>
                        }
                        else
                        {
                            <th>Architecture</th>
                        }
                        <th>Date</th>
                        @if (Model.ListType == eListType.WithBeta || Model.ListType == eListType.PAKFilesWithBeta)
                        {
                            <th>Beta</th>
                        }
                        <th>File</th>
                        @if (Model.ListType != eListType.PAKFiles && Model.ListType != eListType.PAKFilesWithBeta)
                        {
                            <th>Debug Symbol</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (clsBinary listElement in Model.BinaryList)
                    {
                        <tr>
                            <td>@listElement.arch</td>
                            <td>@listElement.date</td>
                            @if (Model.ListType == eListType.WithBeta || Model.ListType == eListType.PAKFilesWithBeta)
                            {
                               <td>
                               @if (listElement.beta == true)
                               {
                                   <center><b>X</b></center>
                               }
                               </td>
                            }
                               <td>
                                   @if (Model.ListType == eListType.PAKFiles || Model.ListType == eListType.PAKFilesWithBeta)
                                   {
                                       @Html.ActionLink(listElement.fileName, "Index", "Download", new { _id = listElement.id.ToString(), Type = 2 }, null)
                                   }
                                   else
                                   {
                                       @Html.ActionLink(listElement.fileName, "Index", "Download", new { _id = listElement.id.ToString(), Type = 0 }, null)
                                   }
                               </td>
                            @if (Model.ListType != eListType.PAKFiles && Model.ListType != eListType.PAKFilesWithBeta)
                            {
                                <td>
                                    @if (String.IsNullOrWhiteSpace(listElement.fileNamePDB) == false)
                                    {
                                       @Html.ActionLink(listElement.fileNamePDB, "Index", "Download", new { _id = listElement.id.ToString(), Type = 1 }, null)
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    </body>
</html>
